# .gitignore file for KB-E

#--------------
# Folders
#--------------
logs/
crosscompiler/
devices/
source/
backup/
out/
anykernelfiles/
linaro/

#--------------
# Files
#--------------
firstrun
modulelist.txt
colors.sh
init.sh
modules.txt
