# .gitignore file for KB-E

#--------------
# Folders
#--------------
logs/
core-devices/
crosscompiler/
devices/
source/
backup/
out/
anykernelfiles/

#--------------
# Files
#--------------
firstrun
modulelist.txt
colors.sh
